# .dockerignore
node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
dist # If you don't want to copy a local dist folder before the build step in Docker
# Add any other files/folders that are not needed in the image
# (e.g., local development config, IDE specific files)
.env
